{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  Cart | {{block.super}}  
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="alert alert-success " role="alert">
           <h4 class="text-center">
            {% trans 'Your bought products count :' %} {{items_count}} &nbsp;
           {% trans 'Sale' %} : {{all_price}} $
           </h4>
          </div>
    </div>
    <div class="container">
        <div class="row">
         
         {% for item in products %}
       
         <div class="col-sm-3">
            <div class="card position-relative" style="width: 18rem;">
        <img src="{{item.product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><i class="fa-brands fa-product-hunt"></i> &nbsp;{{item.product.name}}</h5>
                  <p class="card-text"><i class="fa-solid fa-wallet"></i> &nbsp;{{item.product.price}} $</p>
                  <p class="card-text"><i class="fa-sharp fa-solid fa-circle-info"></i> &nbsp;{{item.product.description|truncatechars:40}}</p>
                  <center>
                    <span class="card-text">{% trans 'Catalogs' %}</span><br>
                  </center>
                  <ol class="mt-3">
                    
                    {% for category in item.product.category.all  %}
                    
                      <a style="text-decoration: none;" href="{{LANGUAGE_CODE}}/category/{{category.id}}/"><li >{{category}}</li></a>
                    {% endfor %}
                      
                  </ol> <br>
                  <a href="/product/{{product.id}}/" class="btn btn-primary">{% trans 'More' %}</a>
                  <a  class="update-cart btn btn-primary" data-product="{{item.product.id}}" data-action="remove">{% trans 'Remove' %}</a>
                </div>
                <span class="quantity">
                  {{item.quantity}}
                </span>
              </div>
        
              
            </div>
         {% endfor %}
            
          
        </div>
      </div>
      <style>
        .card{
          position: relative;
        }
        .card{
          border-radius: 10px;
          background-color: aliceblue;
          width: 150px;
          min-height: 450px;
        }
        .quantity{
          border: 2px solid crimson;
          color: #fff;
          background: crimson;
          padding: 5px 10px;
          border-radius: 10px;
          position: absolute;
          top: -10px;
          right: -20px;
        }
        
      </style>
    <script>
        function getToken(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getToken('csrftoken')
      var updateBtns = document.getElementsByClassName('update-cart')
      console.log(updateBtns)
      for (i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function(){
          var productId = this.dataset.product
          var action = this.dataset.action
         
          if (user == 'AnonymousUser'){
            alert("Iltimos ro'yxatdan o'ting!")
          }else{
            updateUserOrder(productId, action)
          }
        })
      }
      
      function updateUserOrder(productId, action){
    
          var url = `/${til}/update_item/`
      
          fetch(url, {
            method:'POST',
            headers:{
              'Content-Type':'application/json',
              'X-CSRFToken':csrftoken,
            }, 
            body:JSON.stringify({'productId':productId, 'action':action})
          })
          .then((response) => {
             return response.json();
          })
          .then((data) => {
              location.reload()
          });
      }
      
      </script>
{% endblock content %}
    