{% extends 'base.html' %}
{% load i18n %}
{% block title %}
  {{category.name}} | {{block.super}}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
     
     {% for product in products %}
     <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><i class="fa-brands fa-product-hunt"></i> &nbsp;{{product.name}}</h5>
              <p class="card-text"><i class="fa-solid fa-wallet"></i> &nbsp;{{product.price}} $</p>
              <p class="card-text"><i class="fa-sharp fa-solid fa-circle-info"></i> &nbsp;{{product.description|truncatechars:40}}</p>
              <center>
                <span class="card-text">{% trans 'Catalogs' %}</span><br>
              </center>
              <ol class="mt-3">
                
                {% for category in product.category.all  %}
                
                <a style="text-decoration: none;" href="{{LANGUAGE_CODE}}/category/{{category.id}}/"><li >{{category}}</li></a>
              {% endfor %}
                
                  
              </ul> <br>
              <a href="/product/{{product.id}}/" class="btn btn-primary">{% trans 'More' %}</a>
              <a href="#" class="btn btn-primary">{% trans 'Buy' %}</a>
            </div>
          </div>
    </div>
     {% endfor %}
        
      
    </div>
  </div>
{% include 'pagination.html' %}

  <style>
    .card{
      border-radius: 10px;
      background-color: aliceblue;
    }
  </style>
{% endblock content %}